{% load eventurl %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">

    body {
      font-family: Helvetica, verdana, arial, sans-serif;
      font-size: 14px;
      line-height: 16px;
      background-color: #ffffff;
    }

    table td {
      word-break: break-word;
    }

    a,
    a:visited {
      border: 0;
      color: #333333 !important;
    }

    a:hover {
      color: #333333 !important;
    }

    img {
      border: 0;
    }
    h1 {
      font-size: 21px;
    }
    h2 {
      font-size: 18px;
    }
    h1,
    h2 {
      padding: 0;
    }

    .navigation {
      font-size: 22px;
      text-transform: uppercase;
      text-decoration: none;
    }

    .topnewsbody {
      font-size: 16px;
      line-height:24px;
      text-align: left;
    }
    .content {
      font-size: 16px;
      line-height:24px;
      text-align: left;
    }
    .gutschein {
      font-size: 22px;
      line-height:24px;
      text-align: center !important;
      color: #007d96;
      font-weight: bold;
    }

    .Dbo-top {
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
    }

    a.buttonnormal:link {
      font-size: 20px !important;
      line-height: 25px !important;
      color: #ffffff !important;
      background-color: #007d96;
      text-align: center;
      text-decoration: none;
    }

    a.red:link {
      color: #007d96 !important;
      font-size: 45px;
      line-height: 50px;
      text-decoration: none;
    }

    /* plus 8 */
    @media (max-width: 700px) {
      .topnewsheadline {
        font-size: 50px !important;
        line-height: 55px !important;
      }
      .topnewsbody {
        font-size: 28px !important;
        line-height: 36px !important;
      }
      .footer {
        font-size: 15px !important;
        line-height: 21px !important;
      }
      .button {
        font-size: 30px !important;
        line-height: 40px !important;
        margin: 20px !important;
        padding: 20Px;
        height: 80px !important;
        width: 220px;
        color: #ffffff !important;
        text-align: center;
      }
      .navigation {
        font-size: 24px;
      }

      .gutschein {
        font-size: 30px;
      }

    }
  </style>
</head>
<body style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background:url('') repeat-y no-repeat center top;background-color:#ffffff!important;margin:0px;min-width:100%;padding:0px">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="padding-left: 10px !important;padding-right: 10px !important;padding-top: 10px !important;">
        <tbody>
            <tr>
                <td>
                    <table style="border-left: 1px solid #ebebeb;border-top: 1px solid #ebebeb;border-right: 1px solid #ebebeb;" align="center" cellpadding="0" cellspacing="0" width="600">
                        <tbody>

      {% include "pretix_superscreen/email/email_header.html" %}


      <tr>
            <td style="word-break: break-word;">
                <table align="center" cellpadding="0" cellspacing="0" border="0" width="540">
                    <tbody>
                        <tr>
                            <td class="topnewsbody">
                                <br /><br />
                {% if event %}
                    <h2><a href="{% abseventurl event "presale:event.index" %}" target="_blank">{{ event.name }}</a>
                    </h2>
                {% else %}
                    <h2><a href="{{ site_url }}" target="_blank">{{ site }}</a></h2>
                {% endif %}
                {% block header %}
                    <h1>{{ subject }}</h1>
                {% endblock %}
                            </td>
                        </tr>
                </table>
            </td>
        </tr>

    <tr>
        <td><img src="http://mailerexport.oberauer.com/images/clear.gif" width="540" height="25"></td>
    </tr>

    <tr>
        <td style="word-break: break-word;">
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="540">
                <tbody>

        {% block content %}
        {% endblock %}

                 <tr>
                    <td><img src="http://mailerexport.oberauer.com/images/clear.gif" width="540" height="25"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

      <tr>
        <td style="word-break: break-word;">
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="460">
                <tbody>
                    <tr>
                        <td align="center"></td>
                    </tr>
            </table>
        </td>
    </tr>

{% include "pretix_superscreen/email/email_footer.html" %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
