{% load i18n %}

<tr>
    <td>
        <table class="Dbo-top" align="center" cellpadding="0" cellspacing="0" border="0" width="600" bgcolor="#f7f7f7" style="border-bottom: 1px solid #ebebeb;">
            <tbody>
                <tr style="background-color: #f7f7f7 !important;">
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                    <td colspan="2">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="540">
                            <tbody>
                                <tr>
                                    <td><a href="https://shop.oberauer.com" target="_blank">
                                            <img style="display: block;" src="http://mailerexport.oberauer.com/images/logo-oberauer-mobile.png" alt="Logo" width="150" />
                                        </a></td>
                                    <td></td>
                                    <td width="45"><a href="https://www.facebook.com/oberauer" target="_blank"><img src="http://mailerexport.oberauer.com/images/facebook.png" alt="Oberauer auf facebook" title="Oberauer auf Facebook" border="0" /></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4" style="border-top: 1px solid #ebebeb;"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="600" height="25"></td>
                </tr>
                <tr style="background-color: #f7f7f7;">
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                    <td width="175" valign="top" style="font-size:12px;line-height:16px;"><strong><span class="footer">WICHTIGER HINWEIS</span></strong></td>
                    <td style="font-size:12px;line-height:16px;"><span class="footer"> Diese E-Mail wurde automatisch erstellt und versendet und erreicht nur Kunden und Kontakte der Verlag Johann
                            Oberauer GmbH. Bitte antworten Sie nicht auf diese Mail sondern wenden Sie sich an <a style="color:#333333;" href="mailto:vertrieb@oberauer.com">vertrieb@oberauer.com.</a><br>
                            <br>
                            <a href="https://shop.oberauer.com/newsletter/index/sUnsubscribe/1" target="_blank" style="text-decoration: underline; color: #333333;">Hier können Sie sich aus unserer Mailingliste austragen.</a> </span></td>
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="600" height="25"></td>
                </tr>
                <tr>
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                    <td width="175" valign="top" style="font-size:12px;line-height:16px;"><strong><span class="footer">IMPRESSUM</span></strong></td>
                    <td style="font-size:12px;line-height:16px;"><span class="footer"> Oberauer - der Medienfachverlag<br>
                            Johann Oberauer GmbH<br>
                            Fliederweg 4<br>
                            A-5301 Salzburg-Eugendorf<br>
                            <br>
                            Tel. +43-6225-2700-0<br>
                            Fax +43-6225-2700-44<br>
                            <a href="mailto:vertrieb@oberauer.com"> vertrieb@oberauer.com</a>
                            <br>
                            Handelsregister Salzburg, HRB 8171<br>
                            Amtsgericht: Salzburg<br />
                            Geschäftsführer: Johann Oberauer<br>
                            UID: ATU34915900<br>
                            <br /><br />Copyright © Johann Oberauer GmbH. <br />Alle Rechte reserviert. 2019
                        </span></td>
                    <td width="25"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="1"></td>
                </tr>
                <tr>
                    <td colspan="4"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="40"></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
