{% load i18n %}

<tr>
    <td style="word-break: break-word;">
        <table align="center" cellpadding="0" cellspacing="0" border="0" width="540" height="205">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="600" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top">
                                    <table width="600" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td colspan="4"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="25" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td width="600" valign="bottom" align="center">

                                                {% with 'target="blank" href="https://shop.oberauer.com"'|safe as a_attr %}
                                                    {% blocktrans trimmed %}
                                                        <a {{ a_attr }}>
                                                 <img class="wide" src="http://mailerexport.oberauer.com/images/logo-shop-oberauer.png"
                                                                style="max-height: 53px;">
                                                        </a>
                                                    {% endblocktrans %}
                                                {% endwith %}

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td width="600" valign="top" align="left">
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="left">
            <tr>
                <td width="600" valign="top" align="left">
                    <table width="600" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="20"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="600" height="50"></td>
                        </tr>
                        <tr>
                            <td width="600" align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" align="center" width="150"><a href="https://shop.oberauer.com/medien/" target="_blank" class="navigation"><span class="navigation" style="display: block;">MEDIEN</span></a></td>
                                        <td valign="top" align="center" width="150"><a href="https://shop.oberauer.com/werkstatt/" target="_blank" class="navigation"><span class="navigation" style="display: block;">WERKSTATT</span></a></td>
                                        <td valign="top" align="center" width="150"><a href="https://shop.oberauer.com/dossier/" target="_blank" class="navigation"><span class="navigation" style="display: block;">DOSSIER</span></a></td>
                                        <td valign="top" align="center" width="150"><a href="https://shop.oberauer.com/buecher/" target="_blank" class="navigation"><span class="navigation" style="display: block;">BÜCHER</span></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="20"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="600" height="30"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#007d96" height="3"><img src="http://mailerexport.oberauer.com/images/clear.gif" width="600" height="3"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

