{% extends "pretix_superscreen/email/base.html" %}
{% load eventurl %}
{% load i18n %}
{% block header %}
    <h1>
        {% if notification.url %}<a href="{{ notification.url }}">{% endif %}
        {{ notification.title }}
        {% if notification.url %}</a>{% endif %}
    </h1>
{% endblock %}
{% block content %}
    <tr>
        <td class="containertd">
            <!--[if gte mso 9]>
                    <table cellpadding="20"><tr><td>
            <![endif]-->
            <div class="topnewsbody">
                {% if notification.detail %}
                    <p>{{ notification.detail }}</p>
                {% endif %}
                {% if notification.attributes %}
                    <table>
                        {% for attr in notification.attributes %}
                            <tr>
                                <td>
                                    <strong>{{ attr.title }}</strong>
                                </td>
                                <td>
                                    {{ attr.value }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if notification.actions %}
                    <p class="actions" style="text-align: left">
                        {% for action in notification.actions %}
                            <a href="{{ action.url }}" class="button">{{ action.label }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <!--[if gte mso 9]>
                    </td></tr></table>
            <![endif]-->
        </td>
    </tr>
    {% include "pretix_superscreen/email/separator.html" %}
    <tr>
        <td class="containertd">
            <!--[if gte mso 9]>
                    <table cellpadding="20"><tr><td>
            <![endif]-->
            <div class="topnewsbody">
                {% trans "You receive these emails based on your notification settings." %}<br>
                <a href="{{ settings_url }}">
                    {% trans "Click here to view and change your notification settings" %}
                </a><br>
                <a href="{{ disable_url }}">
                    {% trans "Click here disable all notifications immediately." %}
                </a>
            </div>
            <!--[if gte mso 9]>
                    </td></tr></table>
            <![endif]-->
        </td>
    </tr>
    <tr>
        <td><img src="http://mailerexport.oberauer.com/images/clear.gif" width="540" height="25"></td>
    </tr>
{% endblock %}
