<tr>
    <td><img src="http://mailerexport.oberauer.com/images/clear.gif" width="540" height="25"></td>
</tr>
<!--[if !mso]><!-- -->
<tr>
    <td>
         <hr background="white" style="background-color: white;"/>
    </td>
</tr>
<!--<![endif]-->
<!--[if gte mso 9]>
<tr>
    <td background="white" style="background-color: white;">
        <hr background="white" style="background-color: white;"/>
    </td>
</tr>
<![endif]-->
<tr>
    <td><img src="http://mailerexport.oberauer.com/images/clear.gif" width="540" height="25"></td>
</tr>